<?xml version="1.0" encoding="UTF-8"?>
<launch>
<group ns="gara_infrared_camera">

  <node name="thermal_processing" pkg="thermal_processing" type="thermal_processor.py" output="screen">
    <!-- Set configuration file of your camera here! -->
    <param name="mode"  type="str" value="point"/>
    <param name="max_threshold"  type="int" value="200"/>
    <param name="min_threshold"  type="int" value="40"/>
  </node>

</group>
</launch>
